<% def check_box_for(f, text, symbol) %>
  <div class="col-lg-6 col-xs-12 col-sm-6">
    <%= text %>:
  </div>
  <div class="col-lg-6 col-xs-12 col-sm-4">
    <%= f.check_box(symbol.to_sym) %>
  </div>
<% end %>
<% dict = [["Bank deposit", :pays_deposit],
      ["Bank wire", :pays_wire],
      ["Card payment",:pays_card],
      ["Cryptocurrency", :pays_crypto]]
    %>
  <% dict.each do |e| %>
  <% check_box_for(form, e[0], e[1]) %>
<% end %>
