/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .nav-burger {
    background: transparent;

    z-index: 4;
    padding: 20%;
    height:60%;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: 0.7s;
  }
  .nav-burger:hover {
    
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transition: 1s;
  }
  .nav-burger-bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 2;
    display: inline-block;
  }
  .nav-container {
    width: 6%;
    aspect-ratio: 1 / 1;
    margin: 3%;
    z-index: 2;
    position: fixed;
  }
  .logo-top {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 28%;  
  }


  .wall {
    height: 100vh;
  }
  .center-wall {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-wall-logo {
    width: 50%;    
  }
  .logo-wall-btn {
    top: 70%;
    position:absolute;
    border-radius:25px;
    padding:25px;
    padding-top:15px;
    padding-bottom:15px;

  }



  .veil {
    background-color: black;
    z-index: 5;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 0px;
  }

  .veil-fadein {
    animation: fadeInFromNone 1s forwards;
  }
  .veil-fadeout {
    animation: fadeOutFrom 0.8s forwards;
  }
  @keyframes fadeInFromNone {
      0% {
          display: none;
          visibility: hidden;
          opacity: 0;
      }

      1% {
          display: block;
          visibility: visible;
          opacity: 0;
      }

      100% {
          display: block;
          visibility: visible;
          opacity: 0.6;
      }
  }

  @keyframes fadeOutFrom {
      0% {
          display: block;
          visibility: visible;
          opacity: 0.6;
      }

      99% {
          display: block;
          visibility: visible;
          opacity: 0;
      }

      100% {
          display: none;
          visibility: hidden;
          opacity: 0;
      }
  }

  .toast-container {
    position: fixed;
    z-index: 10;
    vertical-align: center;
    width:100%;
    top: 50%;
  }
  
  .footer {
    bottom: 0px;
    width: 100%;
    padding: 25px;
    /*position: fixed;*/
  }


  .white-bg{
    background-color: white;
  }
  .white-text {
    color: white;
  }
  .blue-bg {
    background-color: #0B2C59;
  }
  .blue-text {
    color: #0B2C59;
  }
  .dark-blue-text {
    color: #051933;
  }
  .dark-blue-bg {
    background-color: #051933;
  }
  .gold-bg {
    background-color: #90855B;
  }
  .gold-text {
    color: #90855B;
  }