/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.parallax {
  /* The image used */
  background-image: url("/Stockfish_Lofoten_2009.jfif");

  /* Set a specific height */
  min-height: 100vh;
  padding-bottom: 25px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.parallax-2 {

  background-image: url("/_DSC5781.jpg");
  ;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
}

.flag-dropdown {
padding-left:50px;
background-repeat:no-repeat;
}

.logo-top {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 28%;  
}

.wall {
  min-height: 100vh;
}
.center-wall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-wall-logo {
  width: 50%;    
}
.logo-wall-content {
  width:100%;
}

.fish-wall {
  background-repeat: repeat-y;
  background-image: url('/Stockfish_Lofoten_2009.jfif');
  background-size:100vw;
  padding-top: 85px;
  padding-bottom: 25px;
}

.blurred-box {
  /* box-shadow: 0 0 10px 10px white; */
  background-color: rgba(255, 255, 255, .95);
  outline: 2px solid #051933;
}
.gold-blurred-box {
  box-shadow: 0 0 3px 3px #c4a141;
}

.page-section {
  border-bottom: 3px solid white;
}



.footer {
  display: flex;
  bottom: 0px;
  width: 100%;
  padding: 25px;
  position: relative;
  justify-content: space-between;
}
.social-links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 15px;
}
.policy-link-container a {
  color: white;
}
.policy-link-container a:hover {
  color: white;
}

.home-pie {
  z-index:3;
  bottom:0px;
  right:0px;
  margin-bottom:10px;
  margin-right:15px;
  position:absolute;
  max-width:130px;
  min-width:110px;
}


.info-box {
  padding:35px 35px 35px 35px;
}
.info-box_small {
  margin: 50px auto;
  max-width: 650px;
}
.about-container {
  padding-top: 75px;
  padding-bottom: 5px;
}
.about-text {
  font-size: 18px;
  word-spacing: 1px;
}

.employee-list {
  padding: 0;
}
.employee-list li {
  margin:15px;
  list-style-type: none;
}
.employee-role {
  font-style: italic;
  font-weight: 300;
}

.heading-style {
  color: #0B2C59;
  text-align: center;
}
.mt {
  margin-top: 20px;
}
.large-heading {
  font-size: 40px;
  font-weight: 700;
}



@media (min-width: 440px) {
  .social-links-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



@media (min-width: 1200px) {
  .about-box-container {
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 50px 0;
  }
  .info-box_small {
    width: 30%;
    margin: 0;
  }
  .employee-list {
    font-size: 20px;
  }
}