
.logo-wall-btn-container {
    display: flex;
    justify-content: center;
  }
  .logo-wall-btn {
    min-width: 125px;
    
    padding:25px;
    padding-top:15px;
    padding-bottom:15px;
  }
  .button-like {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    background-color: white;
    font-weight: bolder;
    border-radius: 30px;
    height: 60px;
    max-width: 325px;

    transition: 0.1s;
  }
  .button-like:hover {
    color: white;
  }
  .button-like_gold {
    border: 2px solid #c4a141;
    color: #c4a141;
  }
  .button-like_gold:hover {
    background-color: #c4a141;
  }
  .button-like_blue {
    border: 2px solid #0B2C59;
    color: #0B2C59;
  }
  .button-like_blue:hover {
    background-color: #0B2C59;
  }
  .button-like_transparent-inverse {
    border: 2px solid white;
    background-color: unset;
    color: white;
  }
  .button-like_transparent-inverse:hover {
    background-color: white;
    color: #0B2C59;
  }
  .button-like_transparent {
    background-color: unset;
    border: 2px solid #0B2C59;
    color: #0B2C59;
  }
  .button-like_transparent:hover {
    background-color: #0B2C59;
  }
  .button-like_small {
    height: 35px;
    width: 75px;
  }
  .button-like_center {
    margin-left: auto;
    margin-right: auto;
  }
  .button-like_mt {
    margin-top: 20px;
  }
  
  .form-btn {
    border-style: solid;
    border-width: 4;
    border-color: #c4a141;
    border-radius: 5px;
    margin-top: 5px;
    font-weight: bold;
  }
  .account-delete-btn {
    transition: 0.4s;
    
  }
  .account-delete-btn:hover {
    background-color:red;
    border-color:darkred;
  }