.white-bg{
    background-color: white;
}
.white-text {
    color: white;
}
.blue-bg {
    background-color: #0B2C59;
}
.blue-text {
    color: #0B2C59;
}
.dark-blue-text {
    color: #051933;
}
.dark-blue-bg {
    background-color: #051933;
}
.gold-bg {
    background-color: #90855B;
}
.gold-text {
    color: #90855B;
}