.wide-select {
    min-width:100%;
    max-width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.hidden-arrows::-webkit-outer-spin-button,
.hidden-arrows::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
.form-field {
display: block;
margin: 8px auto;
width: 100%;
max-width: 325px;
}
.form-field label {
  color: #0B2C59;
}
.form-field_wide {
  max-width: 475px;
}
.form-indicator-text {
font-size: small;
color: #0B2C59;
font-style: italic;
}
.new_newsletter_subscriber {
  width: 100%;
}
.text-input,
.name-prefix select {
  display: block;
  width: 100%;
  max-width: 325px;
  height: 45px;
  margin: auto;
  padding: 0 15px;
  background-color: white;
  border: 1px solid #0B2C59;
}
.text-input_large {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text-input_wide {
  max-width: 475px;
}

.input-form {
  margin: auto;
  margin-top: 35px;
  max-width: 700px;
  padding: 35px;
  outline: 2px solid #051933;
}
.input-form-header {
  font-size: 40px;
  text-align: center;
  color: #0B2C59;
}

.dropdown-menu {
  width: 100%;
  max-width: 325px;
}

.form-group_dir-row {
  display: flex;
  justify-content: space-between;
  max-width: 325px;
  margin: auto;
}
.form-group_dir-row .form-field {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin-left: 0;
  margin-right: 0;
}
.form-group_dir-row .form-field .form-check-input {
  width: 25px;
  height: 25px;
  border-radius: 0;
}

.no-account-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5px;
}
.no-account-container a {
  font-weight: 700;
  color: #051933;
}



@media (min-width: 1200px) {
  .form-field_wide-1200 {
    max-width: 475px;
  }
  .text-input_wide-1200 {
    max-width: 475px;
  }
  .input-form {
    max-width: 1000px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 340px;
  }
  .form-group-2 {
    height: 430px;
  }
  .form-group_dir-row {
    justify-content: start;
    gap: 45px;
    max-width: 475px;
  }
}