.timeline ul li:nth-child(even).timeline-era div::before {
  border-color: transparent transparent transparent #051933;
}
.timeline ul li:nth-child(odd).timeline-era div::before {
  border-color: transparent #051933 transparent transparent;
}


.timeline {
  padding-top:45px;    
}
.timeline ul {
  padding-left: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}
.timeline-box {
  border-radius: 25px;
  border-bottom-left-radius: 0;
  padding: 15px;
}
.timeline-box_white {
  background-color: rgba(255, 255, 255, .95);
  color: #0B2C59;
  border: 2px solid #0B2C59;
}
.timeline-box_blue {
  background-color: rgba(11, 44, 89, .9);
  border: 2px solid white;
  padding: 20px 15px;
}
.box-corner {
  position: absolute;
  left: -31.7px;
  bottom: -2px;
  z-index: 0;
}
.box-corner_blue {
  left: -31.7px;
  bottom: -2px;
  /* #0b2c59 */
}


.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 4px;
  margin: 0 auto;
  padding-top: 50px;
  background: white;
}
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -14px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
  border: 2px solid #0B2C59;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  margin-left: 10px;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 26px 8px 0;
  border-color: transparent #c4a141 transparent transparent;
}
.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline-title {
  font-weight: bolder;
  font-size: large;
  margin: 0;
}


.timeline ul li::after {
  transition: background .5s ease-in-out;
}
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}
.timeline ul li div {
  transform: translate3d(200px,0,0);
}
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  
  .timeline ul li div {
    width: calc(100vw - 101px);
  }
  
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

}


@media (min-width: 600px) {
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px,0,0);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 25px;
    margin-left: -10px;
  }
  .timeline ul li:nth-child(even) div .box-corner {
    transform: scaleX(-1);
    left: unset;
    right: -31.6px;
  }
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}