<% path = '/login' %>
<% if @current_user != nil then %>
    <% path = account_overview_path %>
<% end %>

<div class="account-pill text-center button-like button-like_blue-inverse button-like_small" onclick="window.location.href='<%= path %>'">
<% if @current_user != nil then %>
    <i class="fa-regular fa-user white-text" style="margin-right:10px;"></i>
    <%= @current_user.first_name %>
<% else %>
    Log in
<% end %>
</div>