<div class="card blue-text">
  <div class="card-header">
  <strong>Site under construction
  </strong>
  </div>
  <div class="card-body">
    
    <div class="container-fluid row">
        <div class="text-center">
            <i class="fa-solid fa-tools" style="font-size:52px"></i>
        </div>
        <div>
            This page is still under construction.
            <br>
            Please check back with us again some time soon.
        </div>
    </div>
  </div>
</div>