<footer class="dark-blue-bg white-text footer">

  <div class="social-links-container">
    <a href="https://www.youtube.com/@caroyal/featured" target="_blank"><img src="/social-yt.svg"></img></a>
    <a class="d-none" href="#" target="_blank"><img src="/social-ig.svg"></img></a>
    <a href="https://www.facebook.com/profile.php?id=100089902297925" target="_blank"><img src="/social-fb.svg"></img></a>
    <a href="https://twitter.com/Caroyalties" target="_blank"><img src="/social-tw.svg"></img></a>
    <a href="https://t.me/+2VzbDekRHNsxYjI0" target="_blank"><img src="/social-tg.svg"></img></a>
  </div>

  <div>
    <div class="policy-link-container">
      <%= link_to "privacy policy", privacy_policy_path %>
    </div>
    ©2023 Caroyal Group AS
  </div>
</footer>