<div class="nav-container">
    <i id="nav-closer" style="display: none;" class="fa-solid fa-close nav-burger white-text" onclick="burger_toggle('nav-burger', 'nav-closer', 'nav-veil')"></i>
    <i id="nav-burger" class="fa-solid fa-bars nav-burger white-text" onclick="burger_toggle('nav-burger', 'nav-closer', 'nav-veil')"></i>

    <a href="/"><img class="nav-logo" src='/Caroyal transparent PNG-02.png'></a>

    <% path = '/login' %>
    <% if @current_user != nil then %>
        <% path = account_overview_path %>
    <% end %>

    <span>
    <div class="account-pill text-center button-like button-like_small button-like_transparent-inverse" onclick="window.location.href='<%= path %>'">
    <% if @current_user != nil then %>
        <i class="fa-regular fa-user white-text" style="margin-right:10px;"></i>
        <%= @current_user.first_name %>
    <% else %>
        Log in
    <% end %>
    </div>
    </span>
</div>