<div class="nav-container" onclick="open_nav('nav-veil');">
    <span class="nav-burger-bg blue-bg text-center">
        <i class="fa-solid fa-bars nav-burger white-text button-like"></i>
    </span>
</div>