<div class="nav-container">
    <span class="nav-burger-bg dark-blue-bg text-center">
        <i class="fa-solid fa-bars nav-burger white-text" data-bs-toggle="modal" data-bs-target="#navModal"></i>
    </span>
</div>