<% if present then%>
<div class="container-fluid text-center">
    <%= link_to root_path do %>
    <img class="logo-top" src="<%=if :color != 'white' then '/Caroyal transparent PNG-02.png' else '/Caroyal transparent PNG.png' end %>">
    <% end %>
</div>
<% end %>