<% if present then%>
<div class="container-fluid text-center">
  <% img_url = '/Caroyal transparent PNG.png' %>
  <% if color == "white" then %>
    <% img_url = '/Caroyal transparent PNG-02.png' %>
  <% end %>
  <%= link_to root_path do %>
  
  <img class="logo-top" src="<%= img_url %>">
  <% end %>
</div>
<% end %>