<%= render partial: "top_logo", locals: {present: true, color: 'blue'} %>

<div class="parallax-2 container-fluid">
    <div class=" row" style="max-width:100vw;min-height:100vh;">

        
        <div class="col-xs-12 col-sm-10 col-md-8" style="margin:50px 0px 50px 0px; padding:0px">
            <div class="info-box white-bg dark-blue-text blurred-box">
            <h1 class="text-center">
            About Caroyal
            </h1>
            <h5 style="margin: 20px 0px 20px 0px">
                <p>
                We are building a B2B e-commerce platform designed to enhance product affordability and food security through market accessibility for producers, distributors and consumers. At launch, the platform will be an interactive network of suppliers and feature a 'groupage' model that will empower smaller businesses. The groupage model will enable users to import/export parts of containerised products. This solution is adapted to the financial capacity of small distributors and producers in developing regions, and will ultimately remove unnecessary intermediaries in the supply chains. 
                </p>
                <p>
                Soon on our platform, small stockfish distributors in Nigeria and elsewhere can purchase fractions of a 40ft container load exported from Norway. The cost of a 40 ft container load of stockfish products will be divided into parts so that one part can be sold for as little as $5000. Larger parts of a container will also be purchased through our platform by importers/distributors with more capital, but they will not get any price-advantage over the smaller investors/importers. This inclusive model will benefit smaller distributors because when the bigger importers purchase larger amounts of a container there will be sent more containers with more available slots for sale. It will from the beginning enable the smaller distributors to buy and sell at competitive prices, stabilize demand for Norwegian producers (a demand that is unsatisfied and growing) , and ultimately improve food security (affordability) in the target regions. The effectiveness and sustainability of this model will be demonstrated by the fact that, in addition to the above-mentioned advantages, it will increase the value/price of the Norwegian dried fish products.
                </p>
                <p>
                In the near future, we shall expand our platform to incorporate trading of other commodities, especially those sourced from remote locations in Africa. Our goal is to help small commodity producers and distributors to sell/buy their goods more directly to/from international buyers. We are excited to explore the potential of blockchain technology for improving tracking and tracing of commodities traded on our platform.
                </p>
            </h5>
            </div>
        </div>
        <div class="col-xs-0 col-sm-2 col-md-4">
        </div>


        <div class="col-xs-0 col-sm-2 col-md-4">
        </div>
        <div class="col-xs-12 col-sm-10 col-md-8" style="margin:50px 0px 50px 0px; padding:0px">
            <div class="info-box white-bg dark-blue-text blurred-box">
            <h1 class="text-center">
            Vision
            </h1>
            <h5 style="margin: 20px 0px 20px 0px">
            <p>
            Our vision is to become a leading innovator in technology and processes that contribute to food security and decent livelihood.
            </p>            
            </h5>
            </div>
        </div>



        <div class="col-xs-12 col-sm-10 col-md-8" style="margin:50px 0px 50px 0px; padding:0px">
            <div class="info-box white-bg dark-blue-text blurred-box">
            <h1 class="text-center">
            Mission
            </h1>
            <h5 style="margin: 20px 0px 20px 0px">
            <p>
            Our mission is to strengthen supply networks with specialised customer-centric solutions that enable sustainable distribution of food and commodities.
            </p>            
            </h5>
            </div>
        </div>
        <div class="col-xs-0 col-sm-2 col-md-4">
        </div>



        <div class="col-xs-0 col-sm-2 col-md-4">
        </div>
        <div class="col-xs-12 col-sm-10 col-md-8" style="margin:50px 0px 50px 0px; padding:0px">
            <div class="info-box white-bg dark-blue-text blurred-box">
            <h1 class="text-center">
            Team
            </h1>
            <h4 style="margin: 20px 0px 20px 0px">
            <p>
            <ul class="employee-list">
                <li>Uchenna Ben Opara <span class="employee-role">(CEO)</span></li>
                <li>Jakob Biftu Aandahl <span class="employee-role">(COO & CCO)</span></li>
                <li>Eirik Jenssen Husebø <span class="employee-role">(CTO)</span></li>
                <li>Trym Myrvang <span class="employee-role">(Communication advisor)</span></li>
            </ul>
            </p>            
            </h4>
            </div>
        </div>
        
    </div>
</div>
