<div class="parallax-2 about-container">
        
  <div class="info-box white-bg dark-blue-text blurred-box">
    <h1 class="large-heading text-center">
      About Caroyal
    </h1>
      <p class="about-text mt">
        We are building a B2B e-commerce platform designed to enhance product affordability and food security through market accessibility for producers and distributors.
        At launch, the platform will be an interactive network of suppliers and feature a groupage model that will empower smaller businesses.
        This groupage model will enable users to import or export parts of containerised products.
        This solution is adapted to the financial capacity of small distributors and producers in developing regions, and will ultimately remove unnecessary intermediaries in the supply chains.
        <br><br>
        First, traders in Nigeria and elsewhere can purchase fractions of 40ft container loads of stockfish products exported from Norway.
        The cost of each container load will be divided into parts so that one part is sold for as little as $5000.
        Users will not get any price benefits for purchasing more at any given point in time.
        We aim to enable the smaller distributors buy and sell at competitive prices, stabilise demand for Norwegian producers, and ultimately improve food security in the consumer regions.
        <br><br>
        In the near future, we shall expand our platform to incorporate trading of commodities, especially those sourced from remote locations in Africa.
        By building a sustainability driven platform of international buyers, we will be of great benefit to the small local producers and distributors.
        We see clearly, a future where we all care about how and where our raw materials are sourced.
        That is why it excites us to explore the potential of blockchain technology for improving tracking and tracing of commodities.
      </p>
  </div>

  <div class="about-box-container">

    <div class="info-box info-box_small white-bg dark-blue-text blurred-box">
      <h1 class="large-heading text-center">
        Vision
      </h1>
      <p class="about-text">
        Our vision is to become a leading innovator in technology and processes that contribute to food security and decent livelihood.
      </p>            
    </div>



    <div class="info-box info-box_small white-bg dark-blue-text blurred-box">
      <h1 class="large-heading text-center">
        Mission
      </h1>
      <p class="about-text">
        Our mission is to strengthen supply networks with specialised customer-centric solutions that enable sustainable distribution of food and commodities.
      </p>
    </div>

    <div class="info-box info-box_small white-bg dark-blue-text blurred-box">
      <h1 class="large-heading text-center">
        Team
      </h1>
      <h4 style="margin: 20px 0px 20px 0px">
        <p>
          <ul class="employee-list">
            <li>Uchenna Ben Opara <span class="employee-role">(CEO)</span></li>
            <li>Jakob Biftu Aandahl <span class="employee-role">(COO & CCO)</span></li>
            <li>Eirik Jenssen Husebø <span class="employee-role">(CTO)</span></li>
            <li>Trym Myrvang <span class="employee-role">(Communication advisor)</span></li>
          </ul>
        </p>
      </h4>
    </div>
</div>
        
</div>
