
<div style="height:100vh;">

<div style="margin-top:30%">
<h3>
Account overview
</h3>
<p>
If you would like to edit your account information, you can do so <%=link_to "here", edit_user_path(@current_user) %>.
</p>
<%= render 'construction' %>




</div>

</div>