<div class="wall center-wall text-center">
    
    <div class="logo-wall-content">
    <img class="logo-wall-logo" src='/Caroyal transparent PNG.png'>
        <h1 class="gold-text text-center">
            <i>
                Sustainable Management of Supply Networks
            </i>
        </h1>
    </div>

    <div class="container-fluid text-center logo-wall-btn-container">
        <div class="logo-wall-btn text-center gold-bg white-text button-like" onclick="window.location.href='<%= new_user_path %>'">
            <strong class="white-text">
                Sign up
            </strong>
        </div>
    </div>
    <!--
    <div class="logo-wall-btn text-center gold-bg white-text button-like" onclick="window.location.href='<%= new_user_path %>'">
        <strong class="white-text">
            Subscribe to our newsletter
        </strong>
    </div>
    -->
</div>

<div class="home-pie">
    Registered users
    <%= pie_chart user_stats_path, width: "100%", height: "140px", colors: ['#c4a141', '#0B2C59'], legend: "bottom" %>
</div>
