<div class="wall center-wall">
    <img class="logo-wall-logo" src='/Caroyal transparent PNG.png'>
    
    <div class="logo-wall-btn gold-bg" onclick="window.location.href='<%= new_user_path %>'">
        <strong class="white text">
            Sign up
        </strong>
    </div>
    
</div>






