<div class="wall center-wall text-center">
    <img class="logo-wall-logo" src='/Caroyal transparent PNG.png'>

</div>
<div class="logo-wall-content text-center">


    <h1 class="gold-text">
    Sustainable management of supply chains
    </h1>

<div class="logo-wall-btn gold-bg white-text" onclick="window.location.href='<%= new_user_path %>'">
    <strong class="white-text">
        Sign up
    </strong>
</div>
</div>

