<div style="min-height:100vh">

<div class="container-fluid text-center" style="z-index:2;margin-bottom:50px;">
    <%= link_to root_path do %>
    <img class="logo-top" src="/Caroyal transparent PNG.png">
    <% end %>
</div>

    <div class="container-fluid row">

        <div class="col-sm-3"></div>

        <div class="col-sm-6">
            <h1 class="dark-blue-text">
            Privacy Statement
            </h1>
            <hr>
            <div>
            <h3 class="dark-blue-text">
                Introduction
            </h3>


<p>
Caroyal Group AS knows the importance of processing personal information in a reassuring and trustworthy manner in connection with you visiting and using our website: www.caroyal.com
</p>
<p>
This privacy statement contains information you are entitled to when collecting information from our websites, and general information about how we process personal information. The purpose is to inform you about your rights, including our guidelines and procedures for processing the personal information we collect from you through your use of our websites.
</p>
<p>
The privacy statement is subject to Norwegian law and may be updated from time to time, partly as a result of changes in current privacy legislation or because the services available on the website are expanded or changed. We will notify you if this requires new consent from you.
</p>
<p>
Please read this statement carefully to thoroughly understand how we collect, use, protect or otherwise process your personal information.
</p>


<h3 class="dark-blue-text">
Consent
</h3>
<p>
In order to use the services available on our website, it is necessary that you provide us with certain requested personal information. Unfortunately, if you do not wish to provide us with such necessary information, we will not be able to give you access to the requested service. By using the services on our website, you confirm that you have read and that you understand and agree to the content of this privacy statement and to our processing of your personal information.
You can withdraw your consent at any time by contacting us. However, be aware that this may mean that we can no longer provide our services to you. If children under the age of 16 have provided us with personal information, we will delete the information as soon as we become aware of the situation. Parents can contact us.
</p>

<h3 class="dark-blue-text">
Responsible for processing
</h3>
<p>
Caroyal Group AS is responsible for the processing of personal data in connection with our business in accordance with current personal data legislation. The person responsible for processing means the person who decides the purpose of the processing of personal data and which aids are to be used. The data controller has the overall responsibility for the processing of your personal data.
</p>
<h3 class="dark-blue-text">
What is personal information?
</h3>
<p>
Personal information means information that can be linked to a natural person, such as information about name, address, telephone number and e-mail address. Processing refers to any use of personal data, such as collection, registration, compilation, storage and delivery.
</p>


<h3 class="dark-blue-text">
What personal information do we process?
</h3>
<p>
By using services on our website, we will be able to process your personal information, including but not limited to:
<ul>
<li>
Address
</li>
<li>
Payment history, including date and time, amount charged, debit & credit card information, and other related transaction details.
</li>
<li>
E-mail address
</li>
<li>
Company name
</li>
<li>
Company address
</li>
<li>
Information about your use of our websites, such as your search history, which subpages are visited
</li>
<li>
Device types
</li>
<li>
Contact information
</li>
<li>
IP addresses
</li>
<li>
Mail tracking
</li>
<li>
Name
</li>
<li>
Browser settings
</li>
<li>
Operating system
</li>
<li>
Phone number
</li>
<li>
Traffic data
</li>
</ul>
</p>

<h3 class="dark-blue-text">
How we obtain the information
</h3>
<p>
We process personal information that you submit via forms on our website, for example:
<ul>
<li>
Contact form
</li>
<li>
Signing up for our newsletter
</li>
<li>
Registration form
</li>
<li>
When buying our products
</li>
</ul>
</p>

<h3 class="dark-blue-text">
Purpose of the information obtained
</h3>
<p>
We care about processing personal information in a way that makes you feel confident that information about you is treated confidentially. We process personal information that is necessary for you to make use of our services and use our website. We will process personal information that we receive directly from you or in technical ways (such as automatic registration via our servers) for the purposes described below and to be able to offer, monitor and analyze the use of services and websites as well as carry out maintenance and improvements.
</p>
<p>
The purpose of processing of your personal data is to better serve your use of  our services and our websites in the best possible way. When you provide personal information to access our services and websites, we will process your personal information to: 
<ul>
<li>
Provide access to our products and services
<li>
Send out relevant information
</li>
<li>
Manage customer service
</li>
<li>
Provide you with information on the most relevant products and services
</li>
</ul>
</p>
<p>
We will not use the personal information for any purpose other than that stated, unless there is a consent from you to use it for another purpose.
</p>


<h3 class="dark-blue-text">
How we store the information
</h3>
<p>
Information is obtained through forms on our website. This is stored in databases on our servers. The information is stored until you request that it be deleted or that it has been inactive for 2 years, unless otherwise provided by law. Information is deleted on request by contacting us on inquiry@caroyal.com
</p>
<h3 class="dark-blue-text">
Disclosure of information to third parties?
</h3>
<p>
The personal information is not shared with outside third parties, but unless you want to use payment offers from subcontractors such as Stripe or PayPal. These subcontractors may process personal information on our behalf.
</p>
<p>
Should we disclose personal information to organizations that perform services on our behalf, we will require that service providers only use such personal information for the purpose of providing such services to us and we will obtain the guarantees deemed necessary for the protection of your personal information for that purpose.
</p>
<p>
All third parties who receive personal data from us are obliged to comply with our standards for the processing of personal data or equivalent standards, as well as obligations that follow from the privacy legislation in force at any given time.
</p>
<p>
If it is required by law or there is a suspicion that an offense has been committed in connection with the use of our services, personal information we have stored about you may be disclosed to public authorities.
</p>
<p>
If personal data may be subject to transfer to another organization in connection with a merger, financing, reorganization or dissolution transaction of all or part of us, we will only do so if the parties involved have entered into an agreement where the collection, use and sharing of personal data is limited to the purposes of the transaction, including a provision as to whether or not the transaction is to proceed, and the personal data shall only be used by the parties involved to complete and complete the transaction. If another company buys us or our business or assets, that company will have access to the personal information collected by us, and will assume the rights and obligations regarding your personal information as described in this privacy statement.
</p>
<h3 class="dark-blue-text">
Third party links
</h3>
<p>
Sometimes, at our discretion, we may include or offer third-party products or services on our websites. We may also have links on our websites to other websites that are not under our control. These links are provided for information only. These third party websites have separate and independent privacy policies. We encourage you to read the privacy policy of each website you visit. We have no responsibility for the content and activities of these websites.
</p>


<h3 class="dark-blue-text">
Safety
</h3>
<p>
The protection of your personal information is important to us. Therefore, we do what we can to maintain and use reasonable measures for the physical and technical security of offices and information storage facilities, to prevent loss, misuse, unauthorized access, disclosure or modification of your personal information. Your personal data is processed behind secure networks and is only available to a limited number of persons who have special rights to such systems, and who are required to process the personal data confidentially. 
</p>
<p>
We use computer systems with limited access, located in facilities with physical security measures. We evaluate our data collection, storage and processing practices, including physical security measures, to protect unauthorized access to our computer systems. All payment transactions are processed via a gateway provider and are not stored or processed on our servers. In addition, all debit and credit card information you provide is encrypted via Secure Socket Layer (SSL) technology. If an employee of ours misuses your personal information, this will be considered a serious breach where we will be able to take disciplinary action, including termination.
</p>
<p>
If a person or organization misuses the personal information they have received to assist in the delivery of our services and websites, this will be considered a serious breach where we will be able to take appropriate action, including termination of agreements between us and the individual organization. In the event of discrepancies regarding your personal information, we will notify you by e-mail within 4 working days.
</p>
<h3 class="dark-blue-text">
Transfer of personal data abroad
</h3>
<p>
Your personal data may be transferred within the European Economic Area and other countries which the European Commission has considered to have adequate protection of personal data on the basis of Article 45 of Regulation (EU) 2016/679. Your consent to this privacy statement represents your consent to this transfer.
</p>

<h3 class="dark-blue-text">
Your rights
</h3>
<p>
You, who use our website, have, with the limitations that follow from the privacy legislation in force at any given time, the right to access your personal information and you have the right to know how it is processed. You may also demand correction, deletion and restrictions in the processing of personal data we store about you. You can withdraw your consent at any time and all data about you will be deleted with the exception of what is required according to e.g. the Accounting Act if you are a paying customer.
</p>
<h3 class="dark-blue-text">
Contact information
</h3>
<p>
If you want to request access, correction or deletion of personal information or if you have questions or requests about this privacy statement, our processing or wish to complain about our processing, you can contact us at:
</p>
<p>
Phone: +47 478 28 235<br>
E-mail: inquiry@caroyal.com<br>
Postal Address: Jens Rings Vei 29, 1357 Bekkestua <br>
</p>

<p>
You also have the right to lodge a complaint with the Norwegian Data Protection Authority about any matter concerning the processing of your personal data. Contact information there is available at www.datatilsynet.no
</p>

            </div>
        </div>
    </div>
</div>
<!--
</div>
</div>
</div>

-->