<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .text-center {
        text-align: center;
      }
      .logo {
        width: 70%;
        margin-bottom: 40px;
      }
.newsletter-content {
  margin:30px;
}
    </style>
  </head>

  <body>
  <div class="text-center">
  <img class="logo" src="http://caroyal.com/Caroyal%20transparent%20PNG.png">
  </div>
<div class="newsletter-content">
    <%= yield %>
<hr>

If you would like to stop receiving email newletters from us - <br>
Have no fear, we've provided a clickable link <%= link_to "right here", unsubscribe_newsletter_path(s.unsubscribe_token) %>
</div>
  </body>
</html>
