<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .text-center {
        text-align: center;
      }
      .logo {
        width: 70%;
        margin-bottom: 40px;
      }
    </style>
  </head>

  <body>
    <div class="text-center">
      <img class="logo" src="http://caroyal.com/Caroyal%20transparent%20PNG.png">
    </div>
    <%= yield %>
  </body>
</html>
